* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header { 
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding: 1rem;
  font-size: 1.3rem;
}

header a { 
  text-decoration: none;
  margin-right: 5rem;
  font-weight: bold;
}



header button { 
  font-size: 1.1rem;
  padding: 2px 10px;
  border-radius: 9999px;
  border: 1px solid white;
}

